<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Cuenta - Pepuño</title>

    <link th:href="@{/css/formulario.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container position-relative">

    <a href="/login" th:href="@{/login}" class="btn btn-outline-secondary position-absolute top-0 end-0 m-3">
        Salir
    </a>

    <h2 class="text-center">Crear Cuenta en Pepuño</h2>

    <form th:action="@{/registro}" th:object="${cliente}" method="post">

        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" th:field="*{nombre}" required>
        </div>


        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" required>
        </div>


        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" required>
        </div>


        <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="text" class="form-control" id="telefono" th:field="*{telefono}" required>
        </div>


        <div class="mb-3">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="direccion" th:field="*{direccion}" required>
        </div>


        <button type="submit" class="btn btn-primary w-100">Crear Cuenta</button>
    </form>
</div>


<script th:if="${mensajeExito != null}">
    alert([[${mensajeExito}]]);
    window.location.href = /*[[@{/login}]]*/;
</script>

<script th:if="${mensajeError != null}">
    alert([[${mensajeError}]]);
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
